Catalog Explorer (Data Explorer)
Level 1 : Catalog - Collection of Schema / Database
Level 2 : Schema - Collection of Tables, Views, Volumes and Functions. Also called as Database.
Level 3 : Table - Collection of Records

In [0]:
%sql
create schema if not exists dev.test_schema

In [0]:
%sql
create or replace table dev.test_schema.sample_table(id int, name string, salary decimal(10,2))

In [0]:
%sql
INSERT INTO dev.test_schema.sample_table VALUES (1, 'Anand', 100000), (2, 'Ashok', 200000)